<div class="landing-background hero-font">
	<div class="text-center">
		<h1><%= link_to 'MY COOKBOOK', posts_path %></h1>
		
	</div>

	<p class="text-center"><%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-success' %></p>
	<p class="text-center"><%= link_to 'Log in', new_user_session_path, class: 'btn btn-lg btn-warning' %></p>
	<p class="text-center"><%= link_to 'Log out', destroy_user_session_path, class: 'btn btn-lg btn-secondary', method: :delete %></p>
	
</div>